.menu-container {
  background-color: #2f302c;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.icon-image {
  width: 200px;
  height: 80px;
  padding: 10px 10px 30px 30px;
}

.main-menu {
  list-style: none;
  padding: 0;
  display: flex;
  padding-top: 23px;
  font-size: 20px;
}

.main-menu li {
  cursor: pointer;
  padding: 10px;
}

.more-items {
  cursor: pointer;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  right: 0px;
  position: absolute;
  background-color: #222222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.inp {
  display: flex;
  padding: 0;
  padding-right: 10px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.inp input {
  height: 35px;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #2f302c;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

@media screen and (max-width: 850px) {
  .inp {
    display: none;
  }
}
